*{
    margin: 0;
    padding: 0;

}

header{
    background-color: antiquewhite;
    height: 80px;
    border: solid 2px red;
}

main{
    height: 600px;
    width: 100%;
    background-color: aquamarine;
    border: solid 2 px red;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.campominato{
    background-color: blue;
    height: 500px;
    width: 500px;
    border: solid 2px green;
}

footer{
    background-color: bisque;
    height: 80px;
    width: 100%;
    border: solid 2px red;
}