*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    border: solid 2px red;

}

h1{
    padding-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.taskbar{
    display: flex;
    justify-content: center;
}


button{
    background-color: aqua;
    font-size: 1.5rem;
    padding: .4rem .8rem;
    color: white;
    
}
