*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    background-color: antiquewhite;
    height: 80px;
    border: solid 2px red;
}

main{
    height: 600px;
    width: 100%;
    background-color: aquamarine;
    border: solid 2 px red;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.campominato{
    background-color: blue;
    height: 500px;
    width: 500px;
    border: solid 2px green;
}

/*ho inserito qua già il calcolo, ma poi verrà completato nel JS*/
section.campominato article{
    height: calc(100% / 10);
    width: calc(100% / 10);
    border: solid 2 px magenta;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: bisque;
    height: 80px;
    width: 100%;
    border: solid 2px red;
}